@model Dreamcatchers.Models.ViewModels.AmountForEntityViewModel

<div class="panel panel-primary panel--@Model.EntityType.ToLower()">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                @switch(Model.EntityType)
                {
                    case "Organisation":
                        <i class="material-icons">child_care</i>
                        break;
                    case "Location":
                        <i class="material-icons">store_mall_directory</i>
                        break;
                    case "Group":
                        <i class="material-icons">group_work</i>
                        break;
                    case "Person":
                        <i class="material-icons">face</i>
                        break;
                    case "ActivityType":
                        <i class="material-icons">toys</i>
                        break;
                    case "Activity":
                        <i class="material-icons">extension</i>
                        break;
                    case "Post":
                        <i class="material-icons">description</i>
                        break;
                    case "Category":
                        <i class="material-icons">book</i>
                        break;
                    case "Tag":
                        <i class="material-icons">label</i>
                        break;
                    case "User":
                        <i class="material-icons">account_box</i>
                        break;
                    case "Role":
                        <i class="material-icons">security</i>
                        break;
                    default:
                        <i class="material-icons">&#xE8AF;</i>
                        break;
                }
            </div>
            <div class="col-xs-9 text-right">
                <div class="huge">@Model.Amount</div>
                <div>@if(@Model.Amount != 1){@Model.PluralizeName}else{@Model.Name}</div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
    </div>
</div>