<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav in" id="side-menu">
            <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-fw" role="presentation"></i>Dashboard</a></li>
            <li><a href="#"><i class="fa fa-child fa-fw"></i>DayCare<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
                <li><a asp-controller="Organisation" asp-action="Index"><i class="fa fa-file-text fa-fw" role="presentation"></i>Organisation</a></li>
                <li><a asp-controller="Location" asp-action="Index"><i class="fa fa-file-text fa-fw" role="presentation"></i>Locations</a></li>
                <li><a asp-controller="Group" asp-action="Index"><i class="fa fa-file-text fa-fw" role="presentation"></i>Groups</a></li>
                <li><a asp-controller="Person" asp-action="Index"><i class="fa fa-file-text fa-fw" role="presentation"></i>Persons</a></li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
            <li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Activities<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
                  <li><a asp-controller="ActivityType" asp-action="Index"><i class="fa fa-soccer-ball-o fa-fw" role="presentation"></i>Activity Types</a></li>
                  <li><a asp-controller="Organisation" asp-action="Index"><i class="fa fa-puzzle-piece fa-fw" role="presentation"></i>Activities</a></li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
            <li><a href="#"><i class="fa fa-file-text fa-fw"></i> Blog<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
                  <li><a asp-controller="Post" asp-action="Index"><i class="fa fa-file-text fa-fw" role="presentation"></i>Posts</a></li>
                  <li><a asp-controller="Organisation" asp-action="Index"><i class="fa fa-bookmark fa-fw" role="presentation"></i>Categories</a></li>
                  <li><a asp-controller="Organisation" asp-action="Index"><i class="fa fa-tag fa-fw" role="presentation"></i>Tags</a></li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
            <li><a href="#"><i class="fa fa-user fa-fw"></i> Security<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
                  <li><a asp-controller="Organisation" asp-action="Index"><i class="fa fa-users fa-fw" role="presentation"></i>Users</a></li>
                  <li><a asp-controller="Organisation" asp-action="Index"><i class="fa fa-shield fa-fw" role="presentation"></i>Roles</a></li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>