@{
    ViewBag.Title = "Dashboard";
    ViewBag.SubTitle = "Overview and statistics";
    ViewBag.Description = "Dashboard overview and statistics";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="row ahs-row-margins">
    <div class="col-lg-3 col-md-6">
        @await Component.InvokeAsync("AmountForEntity", new { entityType = "Accomodation"})
    </div>
</div>